body{ 
  height: 100vh; 
  width: 100vw; 
  display: flex; 
  flex-wrap: wrap; 
  background-color: #E7E8EA;
}

.myslides{ 
  height: 40vh;
  width: 100vw; 
  background-color: #AB1D23;
}

.column1, .column3{
  height: 100vh; 
  width: 30vw; 
  display: flex;
  flex-wrap: wrap;
}

.box{ 
  height: calc(100%/3 - 4px);
  width: 100%;  
}

.info0{
  background-color: #B152F3; 
}

.info1{
  background-color: #52CAF3;
}

.info2{ 
  background-color: #F352E2;
}
 
.column2{ 
  height: 100vh;
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
}

.box1 { 
  height: calc(100%/2 - 4px); 
  width: 100%;
}

.info3{
  background-color: #F35252; 
}

.info4{ 
  background-color: #526FF3;
}

.info5{
  background-color: #F3BB52;
}

.info6{ 
  background-color: #33F141;
} 

.info7{
  background-color: #FA0C0C;
}

@media screen and (max-width:800px){
  body{ 
  height: 100vh; 
  width: 100vw; 
  display: block; 
  background-color: #E7E8EA;
}
  .column1, .column3{
     height: 50vh; 
     width: 100vw;
     display: flex;
  }
  .box1 { 
  height: 80%; 
  width: 40%;
  }
  .box{ 
  height:80% ;
  width: 40%;  
}
  .column2{ 
  height: 50vh;
  width: 100vw;
  display: flex;
 
}
  .myslides{ 
  height: 50vh;
  width: 100vw; 
  background-color: #AB1D23;
  }
.info0{
  background-color: #B152F3; 
}

.info1{
  background-color: #52CAF3;
}

.info2{ 
  background-color: #F352E2;
}
.info3{
  background-color: #F35252; 
}

.info4{ 
  background-color: #526FF3;
}

.info5{
  background-color: #F3BB52;
}

.info6{ 
  background-color: #33F141;
} 

.info7{
  background-color: #FA0C0C;
  }
}
 


